#main {
	margin-top: -420px;
}
#tab_panel {
	border: 0px;
}
#subcat-menu .social_icons_nav {
	display: none;
}
#content, #footer{
	margin-left:15px;}
#sidebar {
	margin-top: -15px;
		}
#header, #copyright{
	padding-left: 10px;}
	#top-menu-out{
		margin-top: 0;
		background:url(images/top-menu-bd.gif) 0 0 no-repeat;
		}